<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Short Description</th>
      <th>Long Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of noticeList">
      <td><img [src]="n.nImage" width="80" /></td>
      <td>{{ n.ntitel }}</td>
      <td>{{ n.nShortDiscription }}</td>
      <td>{{ n.nlongDiscription }}</td>
      <td>
        <button (click)="onEdit(n.nid)">Edit</button>
        <button (click)="onDelete(n.nid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

