 body {
      background-color: #2a8bec;
    }
    .sidebar {
      height: 100vh;
      background-color: #79abdd;
      color: rgb(236, 166, 166);
      padding-top: 20px;
    }
    .sidebar a {
      color: rgb(15, 15, 15);
      display: block;
      padding: 10px 20px;
      text-decoration: none;
    }
    .sidebar a:hover {
      background-color: #539de7;
    }
    .content {
      padding: 20px;




    /* Make footer stick at bottom when content is short */
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .container-fluid {
        flex: 1; /* Push footer to bottom */
    }

    }