


<div class="container mt-5">
  <h2 class="mb-4 text-center">Teacher Information Table</h2>
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Father's Name</th>
        <th>Mother's Name</th>
        <th>Designstion</th>
        <th>action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of teachers|async">
        <td>{{t.id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.email}}</td>
        <td>{{t.fathername}}</td>
        <td>{{t.mothername}}</td>
        <td>{{t.designation}}</td>
        <td>
      <button class="btn btn-sm btn-warning me-2" (click)="updateTeacher(t.id)">edit</button>
 
      <button class="btn btn-sm btn-danger" (click)=" deleteTeacher(t.id)">delete </button>
      
   
    </td>
      </tr>
    </tbody>
  </table>
</div>



