<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Time</th>
      <th>Subjects</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of exams">
      <td>{{ exam.exClass }}</td>
      <td>{{ exam.exTime }}</td>
      <td>
          <strong>{{ exam.exSubject1}}</strong>: {{ exam.exdate1 }}
      </td>
      <td>
        <button (click)="onEdit(exam.exid!)">Edit</button>
        <button (click)="onDelete(exam.exid!)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

