<div class="container">
  <h2>School Classes</h2>
  <a routerLink="/school-class/new" class="btn btn-primary mb-3">+ Add Class</a>

  <div *ngIf="loading">Loading...</div>

  <table *ngIf="!loading && classes.length" class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Class Name</th>
        
        <!-- <th>Section</th>
        <th>Students</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of classes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ c.name }}</td>

        <!-- <td>{{ c.section }}</td>
        <td>{{ c.students?.length || 0 }}</td> -->
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteClass(c.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && classes.length === 0">
    No classes found.
  </div>
</div>
