<ng-container *@if="loading">
  <div class="alert alert-info">Loading routine...</div>
</ng-container>

<ng-container *@if="!loading && routines.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Day</th><th>Subject</th><th>Teacher</th><th>Start</th><th>End</th>
      </tr>
    </thead>
    <tbody>
      <tr *@for="let r of routines; trackBy: $index">
        <td>{{ r.dayOfWeek }}</td>
        <td>{{ r.subject }}</td>
        <td>{{ r.teacherName }}</td>
        <td>{{ r.startTime }}</td>
        <td>{{ r.endTime }}</td>
      </tr>    
    </tbody>
  </table>
</ng-container>

<ng-container *@if="!loading && routines.length === 0">
  <div class="alert alert-warning">
    No routine found for selected class.
  </div>
</ng-container>
